<h1 class="text-sucess text-center">Live angular diretivas</h1>

<!-- bind entre a logica e o template [] -->
<!-- Diretivas de Atributos -->
<!-- diretiva ngStyle e ngClass mexe no css -->
<!-- ternario if ? true : false -->
<div 
  [ngStyle]="{background: count <= 5 ? 'red' : 'green'}" 
  [ngClass]="{custom: count > 5}"
>
  <h2 class="text-center">Contador: {{count}}</h2>
</div>

<!-- Diretivas Estruturais -->
<!-- ngif  se maior que 5 exibe o proprio h2 se menor exibe o h2 da variavel-->
<h2 *ngIf="count > 5; else menor" class="m-2">O contador passou de 5!</h2>
<!-- cria uma tag ng-template com uma variavel menor -->
<ng-template #menor>
  <h2 class="m-2">O contador é menor que 5</h2>
</ng-template>

<!-- usando a diretiva de switch para escolher opcoes -->
<ul [ngSwitch]="count" class="list-group mx-auto col-3">
  <li class="list-group-item"
      *ngSwitchCase="1"
  >Impar: {{count}}</li>
  <li class="list-group-item"
      *ngSwitchCase="3"
  >Impar: {{count}}</li>
  <li class="list-group-item"
      *ngSwitchCase="5"
  >Impar: {{count}}</li>
  <li class="list-group-item"
      *ngSwitchCase="7"
  >Impar: {{count}}</li>
  <li class="list-group-item"
      *ngSwitchCase="9"
  >Impar: {{count}}</li>
  <li class="list-group-item"
      *ngSwitchDefault
  >Par: {{count}}</li>
</ul>
<hr/>
<!-- chamando um componente para listar os usuarios -->
<app-list-people></app-list-people>
<hr/>
<!-- colocando localmente o codigo -->
<h2 class="text-center">Vendo o ngFor sem o *</h2>
<!-- vendo o ngFor por debaixo do tapete -->
<!-- o * é uma referencia para o ng-template -->
<ul class="list-group mx-auto my-6 col-6">
  <ng-template ngFor let-pessoa [ngForOf]="pessoas">
    <li class="list-group-item">
      O Nome da pessoa é {{ pessoa.firstName }} {{ pessoa.lastName }} e ela tem {{ pessoa.age }} anos.
    </li>
  </ng-template>
</ul>
<hr/>
<div class="col-4 mx-auto">
  <!-- bind do template para a logica -->
  <!-- chamada da diretiva de marca texto -->
  <!-- sem argumento e com argumento -->
  <h3 appMarcaTexto>{{ nome }}</h3>
  <h3 appMarcaTexto corDeFundo="blue" corDeTexto="white">{{ nome }}</h3>
    <button 
      type="button" 
      class="btn btn-outline-secondary m-2"
      (click)="clicou('Fernando')"
    >Clique</button>
</div>
<hr/>
<div class="col-6 mx-auto">
  <!-- two-way data bind [()] tem que importar o formsmodel no app.modules-->
  <input 
    type="text" 
    class="form-control" 
    placeholder="digite alguma coisa"
    [(ngModel)]="text">
  <h4 class="m-2">Saída:</h4>
  <p appMarcaTexto corDeFundo="black"> {{text}}</p>
</div>
<hr/>
<footer class="text-center m-2"> Fgropp 2022 &COPY; - Exemplos de Diretivas</footer>
  